*{
    align-items: center;
    justify-content: center;
}
form {
    width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="repeat-password"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
