body {
  font-family: Arial, sans-serif;
  text-align: center;
}

label,
input {
  display: block;
  margin: 10px auto;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#timerDisplay {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}
